body {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85) ), url("../img/bgpattern.jpg");
  background-repeat: repeat;
}

.main {
  margin: 0 auto;
  margin-top: 30px;
  background-image: url("../img/table-background.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  color: yellow;
  padding: 5px;
  background-color: #008600;
  border: 3px solid #00aa00;
  border-radius: 3px;
  height: 432px;
  width: 768px;
}

.logdiv {
  margin: 0 auto;
  margin-top: 30px;
  height: 120px;
  width: 768px;
  border: 3px solid 00aa00;
  background: black;
  border: 3px solid #00aa00;
  border-radius: 3px;
  padding: 5px;
  color: #0c0;
  overflow: hidden;
}

.fader {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9) ), rgba(0,0,0,0);
  position: absolute;
  height: 131px;
  width: 768px;
  top: 510px;
  /*border: 1px dotted yellow;*/
}

.bet {
  border: 2px solid yellow;
  border-radius: 2px;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/betpattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
}

.bet-container {
  float: right;
  width: 100px;
  height: 100px;
  padding: 3px;
  text-align: center;
}

.bet-container input {
  padding: 3px;
  width: 100%;
  margin-bottom: 4px;
}

.bet-container button {
  width: 48%;
  margin-bottom: 2px;
}

.bet-container #betButton {
  width: 100%;
}

h2 {
  background-color: rgba(0,0,0,0.5);
  width: 150px;
  text-align: center;
  margin-bottom: 15px;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  background-color: white;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
  /*border: 1px dotted yellow;*/
}

.cardImg {
  height: 100%;
  width: 100%;
}

.covered {
  content:url("../img/card-back.png");
}
